Programming EF 2nd Edition/2e Chapter 17 WCF EntityObjects/Chapter17ConsoleApp/Service References/CustomerService/CustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Chapter17WCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chapter17WCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1389/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BAGA" />
  <xs:import schemaLocation="http://localhost:1389/CustomerService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CustomerUpdate">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BAGA" minOccurs="0" name="Customer" nillable="true" type="q1:Customer" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReservationsToDelete" nillable="true" type="q2:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerUpdate" nillable="true" type="tns:CustomerUpdate" />
</xs:schema>