2e Chapter 17 WCF EntityObjects/Chapter17ConsoleApp/Service References/CustomerService/CustomerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1389/CustomerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:1389/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfContact1MyUibQZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Contact" Namespace="http://schemas.datacontract.org/2004/07/BAGA" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfContact1MyUibQZ" nillable="true" type="tns:EntityReferenceOfContact1MyUibQZ" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfDestination1MyUibQZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Destination" Namespace="http://schemas.datacontract.org/2004/07/BAGA" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfDestination1MyUibQZ" nillable="true" type="tns:EntityReferenceOfDestination1MyUibQZ" />
  <xs:complexType name="EntityReferenceOfCustomerType1MyUibQZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerType" Namespace="http://schemas.datacontract.org/2004/07/BAGA" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCustomerType1MyUibQZ" nillable="true" type="tns:EntityReferenceOfCustomerType1MyUibQZ" />
  <xs:complexType name="EntityReferenceOfActivity1MyUibQZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Activity" Namespace="http://schemas.datacontract.org/2004/07/BAGA" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfActivity1MyUibQZ" nillable="true" type="tns:EntityReferenceOfActivity1MyUibQZ" />
  <xs:complexType name="EntityReferenceOfCustomer1MyUibQZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Customer" Namespace="http://schemas.datacontract.org/2004/07/BAGA" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCustomer1MyUibQZ" nillable="true" type="tns:EntityReferenceOfCustomer1MyUibQZ" />
  <xs:complexType name="EntityReferenceOfReservation1MyUibQZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Reservation" Namespace="http://schemas.datacontract.org/2004/07/BAGA" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfReservation1MyUibQZ" nillable="true" type="tns:EntityReferenceOfReservation1MyUibQZ" />
  <xs:complexType name="EntityReferenceOfTrip1MyUibQZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Trip" Namespace="http://schemas.datacontract.org/2004/07/BAGA" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTrip1MyUibQZ" nillable="true" type="tns:EntityReferenceOfTrip1MyUibQZ" />
  <xs:complexType name="EntityReferenceOfLodging1MyUibQZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Lodging" Namespace="http://schemas.datacontract.org/2004/07/BAGA" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfLodging1MyUibQZ" nillable="true" type="tns:EntityReferenceOfLodging1MyUibQZ" />
</xs:schema>