2e Chapter 17 WCF EntityObjects/Chapter17ConsoleApp/Service References/CustomerService/CustomerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1389/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BAGA" />
  <xs:import schemaLocation="http://localhost:1389/CustomerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Chapter17WCFServices" />
  <xs:element name="GetCustomerPickList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerPickListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BAGA" minOccurs="0" name="GetCustomerPickListResult" nillable="true" type="q1:ArrayOfCustomerNameAndID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcomingTrips">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcomingTripsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BAGA" minOccurs="0" name="GetUpcomingTripsResult" nillable="true" type="q2:ArrayOfTrip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BAGA" minOccurs="0" name="GetCustomerResult" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Chapter17WCFServices" minOccurs="0" name="customerUpdate" nillable="true" type="q4:CustomerUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BAGA" minOccurs="0" name="customer" nillable="true" type="q5:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>